body
  background-color: #d3d3e3
  color: #333
  font-size: 125%
  input
    font-size: 125%
    color: #333
    &[type="submit"]
      border-radius: 8px
      border: 1px solid #2b2b5c

div
  background-color: #fafaff

.hoverbox
  border: 1px solid #2b2b5c
  border-radius: 8px
  padding: 16px
  box-shadow: 10px 5px 5px #999

.login
  width: 400px
  margin: 80px auto
  padding-bottom: 48px
  p, form
    text-align: center